.history-panel {
    .panel-heading {
        position: relative;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .history-list {

        .url-info {

            .secondary {
                display: none;
            }
            &:hover .secondary {
                display: inline-block;
            }
        }

        pre.request-body {
            height: 8em;
            width: 30%;
            float: left;
            &:hover {
                width: 100%;
                height: 20em;
            }
        }
    }

    .btn-remove-all {
        position: absolute;
        border: 1px solid gray;
        top: 0;
        left: 0;
        margin-left: 100%;
        height: 100%;
        line-height: 100%;
        display: none;
    }
    &:hover .btn-remove-all {
        display: block;
    }
}