
<div class="panel panel-default panel-form" expandable="panel" expanded>
    <div class="panel-heading">
        <h3 class="panel-title">Request</h3>
    </div>
    <div class="panel-body">
        <div><select ng-options="postType as postType.label for postType in postTypes" ng-model="selectedType"></select></div>
        <form>
            <div class="form-group">
                <label>URL</label>
                <input class="form-control" ng-model="url">
                <p class="help-block">post address.</p>
            </div>
            <div class="form-group">
                <label>Body</label>
                <textarea class="form-control" rows="10" ng-model="body"></textarea>
            </div>
            <button ng-disabled="!url" class="btn btn-primary"
                    ng-class="{posting: 'btn-danger'}" ng-click="postData()">POST
            </button>
        </form>
    </div>
</div>
<div class="panel panel-default panel-response" ng-show="response.data">
    <div class="panel-heading">
        <h3 class="panel-title">
            Response
            <span class="label" ng-class="getStatusClass()" data-ng-bind="response.status"></span>
            <span class="label label-info" data-ng-bind="response.statusText"></span>
        </h3>
    </div>
    <div class="panel-body">
        <pre class="response" data-ng-bind="response.data | json: 2"></pre>
    </div>
</div>