
<div class="panel panel-default" expandable="panel" expanded>
    <div class="panel-heading">
        <h3 class="panel-title">Post Form</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label>URL</label>
                <input class="form-control" ng-model="postInfo.request.url">
                <p class="help-block">post address.</p>
            </div>
            <div class="form-group">
                <label>Body</label>
                <textarea class="form-control" rows="5" ng-model="postInfo.request.body"></textarea>
            </div>
            <button ng-disabled="!postInfo || !postInfo.request.url" class="btn btn-primary"
                    ng-class="{posting: 'btn-danger'}" ng-click="postData()">POST
            </button>
        </form>
    </div>
</div>
<div class="panel panel-default" ng-show="!!postInfo.response.data">
    <div class="panel-heading">
        <h3 class="panel-title">
            STATUS:
            <span class="label" ng-class="getStatusClass()" data-ng-bind="postInfo.response.status"></span>
            <span class="label label-info" data-ng-bind="postInfo.response.statusText"></span>
        </h3>
    </div>
    <div class="panel-body">
        <pre style="font-size: 0.5em;" data-ng-bind="postInfo.response.data | json: spacing"></pre>
    </div>
</div>