.history-panel {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    pre.request-body {
        width: 2em;
        height: 2em;

        &::before, &::after {

        }
        &::before {

        }
    }
}