<div class="panel panel-default history-panel" expandable="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Post History <label class="label label-default">Count: {{historyInfo.length}}</label></h3>
        <button class="btn btn-danger btn-remove-all" ng-click="remove(null, $event)">clean</button>
    </div>
    <div class="panel-body">
        <!--<div>-->
            <!--<h4>Actions:-->
                <!--<a class="btn btn-danger" ng-click="clean()">CLEAN</a>-->
            <!--</h4>-->
        <!--</div>-->
        <ul class="history-list">
            <li data-ng-repeat="info in historyInfo" ng-click="select(info[0])">
                <span data-ng-bind="info[0].request.url"></span>
                <ul>
                    <li data-ng-repeat="req in _.uniq(info)" ng-click="select(req, $event)">
                        <pre class="request-body">{{req.request.body}}</pre>
                    </li>
                </ul>
                <!--<ul>-->
                <!--<span data-ng-bind="url" ng-click="select(url)"></span>-->
                <!--<span class="glyphicon glyphicon-remove" ng-click="remove(url)"></span>-->
                <!--</ul>-->
            </li>
        </ul>
    </div>
</div>